<!DOCTYPE html>
<html>
<head>
	<title>Create Puppy Page</title>
</head>
<body>
  <h1>List a Puppy</h1>
  <form method="post" action="puppy">
    <p>Puppy Name: <input type="input" name="name"></p>
    <p>Puppy Breed: <input type="input" name="breed"></p>
    <p>Puppy Age: <input type="input" name="age"></p>
    <input type="submit" value="submit">
  </form>
</body>
</html>